<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
          font-family: Arial, sans-serif;
          margin: 20px;
          padding: 0;
      }
      h1 {
          margin-bottom: 20px;
      }
      button {
          margin : 5px;
          padding: 5px 10px;
          background-color: #007bff;
          color: #fff;
          border: none;
          cursor: pointer;
      }
      button:hover {
          background-color: #0056b3;
      }
    </style>
    <title>Home page</title>
  </head>
  <body>
    <h1>Bienvenue dans la page d'accueil</h1>

    <a href="magasin">
      <button>Magasin</button>
    </a>
    <br />

    <a href="centres">
      <button>Centres</button>
    </a>
    <br />

    <a href="tableauxDeBord">
      <button>Analyse et Tableaux de bord</button>
    </a>
    <br />
  </body>
</html>
