{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<h1>
  Les demandes d'avance Salaire de l'employé {{employe.nomE}}
  {{employe.prenomE}}
</h1>

{% if avanceSalaires %}
<table border="1px" class="table table-dark table-hover table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Montant</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  {% for as in avanceSalaires %}
  <tbody class="table-group-divider">
    <tr>
      <td class="table-active">{{as.id}}</td>
      <td class="table-active">{{as.dateDemande}}</td>
      <td class="table-active">{{as.montant}}</td>
      <td class="table-active">
        <a href="{% url 'editavanceSalaire' as.id %}">Modifier</a>
      </td>
      <td class="table-active">
        <a href="{% url 'deleteavanceSalaire' as.id %}">Supprimer</a>
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% else %}
<p>Cet Employé n'a jamais demandé une avance</p>
{% endif %}

<a href="{% url 'addAvanceSalaire' employe.id %}">
  <button class="btn btn-warning">Enregistrer une demande</button>
</a>
<br />
<br />

<a href="{% url 'module_employe' centre_id=employe.centre.numeroC %}">
  <button class="btn btn-secondary">retourner</button>
</a>
