{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<form method="POST">
  {% csrf_token %}
  <label for="montant">Montant</label>
  <input
    type="number"
    step="0.01"
    name="montant"
    id="montant"
    value="{{montant}}"
  />
  <br />

  <label for="dateAvanceSalaire">Date Demande</label>
  <input
    type="date"
    name="dateAvanceSalaire"
    id="dateAvanceSalaire"
    value="{{dateAvanceSalaire}}"
  />
  <br />
  <a href=" {% url 'avanceSalaire' pk=avanceSalaire.employe.id %}" id="annuler">
    <button class="btn btn-secondary">Annuler</button>
  </a>
  <input type="submit" class="btn btn-primary" value="Modifier" />
</form>

<script>
  document
    .getElementById("annuler")
    .addEventListener("click", function (event) {
      event.preventDefault();
      window.location.href =
        "{% url 'avanceSalaire' pk=avanceSalaire.employe.id %}";
    });
</script>
