{% load static %}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}
h1 {
    margin-bottom: 20px;
}
form {
    margin-bottom: 20px;
}
label {
    margin-right: 10px;
}
button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
</style>

<h1>Liste des Transferts reçu par Centre {{centre_id}}</h1>

<form method="GET">
  <label for="search">Entrez le nom de la Matière Première:</label>
  <input type="text" name="recherche" id="search" />
  <button type="submit" class="btn btn-info">rechercher</button>
</form>
<br />

<form method="GET">
  <label for="search2">Entrez Date Min:</label>
  <input type="date" name="dateMin" id="search2" />
  <label for="search3">Entrez Date Max:</label>
  <input type="date" name="dateMax" id="search3" />
  <button type="submit" class="btn btn-info">rechercher</button>
</form>
<br />

{% if transferts %}
<table border="1px" class="table table-dark table-hover table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Matière première</th>
      <th>Quantité</th>
      <th>Prix d'Achat</th>
      <th>Cout de Transfert</th>
    </tr>
  </thead>
  {% for t in transferts %}
  <tbody class="table-group-divider">
    <tr>
      <td class="table-active">{{t.id}}</td>
      <td class="table-active">{{t.dateTransfert}}</td>
      <td class="table-active">{{t.MatieresTransferes}}</td>
      <td class="table-active">{{t.QteTrf}}</td>
      <td class="table-active">{{t.PrixUTA}}</td>
      <td class="table-active">{{t.CoutTrf}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
<p>Cout Total des Transferts ={{somme_transferts}}</p>
{% else %}
<p>Aucun Transfert reçu par ce Centre</p>
{% endif %}

<br />

<a href="{% url 'activites_centre' centre_id=centre_id %}">
  <button class="btn btn-secondary">retourner</button>
</a>
